# dependencies
node_modules
.pnpm-store

# next
.next
out

# sanity
.sanity
dist

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
